#blast-friends-list > div {
	display: inline-block;
	line-height: 1.2;
	padding: .6em .8em;
	margin: 2px;
    border-radius: 1.2em;
	border: 1px solid #E3E7EA;
	color: #7C7C7C;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	transition: border-color .1s color .1s;
}
#blast-friends-list div.blast-friend-unselected,
#blast-friends-list div.blast-foe-unselected {

}
#blast-friends-list div.blast-friend-selected,
#blast-friends-list div.blast-foe-selected {
	border: 1px solid #1BABE2;
	color: #1BABE2;
}

/*
.board-blast-message-form {
}
.blast-nav {
}
.blast-nav-text {
}
.blast-message-box-button {
}
*/
.blast-message-text {
	font-size: .92857142rem;
	color: #B0B2B5;
	text-align: center;
	margin: .5em 0;
}