
/** Body >> Guestbook **/
#user-guestbook h4 { display: none; }

#user-guestbook .avatar > a {
	border-radius: 50%;
	overflow: hidden;
	line-height: 0;
}

/** Body >> Guestbook >> Write Form **/
#user-guestbook-form textarea {
	float: left;
	width: calc(100% - 100px);
	resize: vertical;
}
#user-guestbook-form .options {
	margin-left: calc(100% - 100px);
	padding-left: 10px;
}
#user-guestbook-form .options > * {
	display: block;
	width: 90px;
	margin-bottom: 10px;
}

/** Body >> Guestbook >> Posts **/
#user-guestbook-posts {
	padding: 0;
	margin: 2em 0;
}
#user-guestbook-posts > li {
	display: block;
}
#user-guestbook-posts > li + li { margin-top: 1.5em; }

#user-guestbook-posts .avatar {
	float: left;
	width: 80px;
}
#user-guestbook-posts .avatar > a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto;
	background-color: #EDF1F6;
}
#user-guestbook-posts .avatar > span {
	display: block;
	margin-top: .5em;
	text-align: center;
	font-size: .92857142rem;
	line-height: 1.3;
}

#user-guestbook-posts .message {
	margin-left: 100px;
	padding: 12px 12px 30px;
	position: relative;
	background-color: #F1F4F9;
	color: #53595E;
}
#user-guestbook-posts .message:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 7px 6px 0;
	border-color: transparent #F1F4F9 transparent transparent;
	position: absolute;
	top: 19px; /* avatar(48px) * 1/2 - triangle height(5px) */
	left: -7px;
}

#user-guestbook-posts .notice {
	font-size: .92857142rem;
}
#user-guestbook-posts .timestamp {
	position: absolute;
	right: 12px;
	bottom: 8px;
	text-align: right;
	font-size: .92857142rem;
	color: #BABCBF;
}
#user-guestbook-posts .actions {
	padding: 0;
	margin: 3px 0 0;
	text-align: right;
}
#user-guestbook-posts .actions li {
	display: inline-block;
	margin-left: .75em;
}
#user-guestbook-posts .actions a {
	font-size: .92rem;
	color: #99AAB4;
}

/* Highlight my post */
#user-guestbook-posts .private .message { background-color: #F6F1F9; }
#user-guestbook-posts .private .message:before { border-right-color: #F6F1F9; }
#user-guestbook-posts .private .notice,
#user-guestbook-posts .private .timestamp,
#user-guestbook-posts .private .actions a { color: #D0B5CF; }

/** Body >> Guestbook >> View All Posts **/
#user-guestbook .more { text-align: center; }

/**@ Responsive **/
@media screen and (max-width: 800px) {
	#user-guestbook h4 { display: block; }
}