.cleared {
	clear: both;
}
.clearfix:after {
	content: '';
	display: table;
}
#user-page-left {
	float: left;
	width: 300px;
}
#user-page-right {
	width: calc(100% - 310px);
}
#user-page-left, #user-page-right {
	padding: 10px;
	box-sizing: border-box;
}
.no-info-container {
	margin: 5px 0px 20px 0px;
	background-color: #F2F4F7;
	padding: 20px;
	text-align: center;
	color: #777;
}
.item-small {
	color: #999;
	font-size: 12px;
	margin: 0px 0px 0px 6px;
	white-space: nowrap;
}

/* 단락 제목 */
.user-section-heading {
	position: relative;
}
.user-section-title {
	font-size: 1.4rem;
	margin-bottom: .5em;
}
.user-section-actions {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* 편집 버튼 */
.action-left, .action-right {
	display: inline-block;
	margin: 0 .5em;
}
.user-section-actions a {
	display: inline-block;
	background: #5bc0de;
	border: 1px solid #46b8da;
	color: #fff !important;
	font-size: .95rem;
	line-height: 1;
	padding: 4px 5px;
	margin: 1px;
	text-align: center;
	white-space: nowrap;
	position: relative;
	text-decoration: none !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.user-section-actions a:hover {
	background-color: #39b3d7;
	border-color: #269abc;
}
.user-section-actions a:active {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

/* Top Area */
#profile-top {
	position: relative;
	height: 150px;
	margin-bottom: 1.5em;
	border: 1px solid #e5e5e5;
	border-radius: 1em;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0, .1);
	box-shadow: 0 2px 10px rgba(0,0,0, .1);
}

/* Top: Avatar */
#profile-image {
	float: left;
	margin: 25px 2em 25px 2.5em;
}
#profile-image img {
	display: block;
	width: 100px;
	height: 100px;
	background-color: #fff;
	border-radius: 1em;
}

/* Top: Name & Exp */
#profile-title-container {
	float: left;
	height: 100px;
	margin: 25px 3em 25px 1.5em;
}

/* Top: Name */
#profile-title {
	font-size: 1.75rem;
	line-height: 2;
	white-space: nowrap;
}

/* Top: Exp, Lv */
#honorific-level, #points-level {
	margin-left: .5em;
}
#honorific-level a, #points-level a {
	color: #999;
}
#honorific-level a:before, #points-level a:before {
	display: inline-block;
	content: '・';
	color: #00a6bc;
	margin-right: .5em;
}

/* Top: Edits, Friends count */
.user-statcount {
	float: left;
	padding: 0 1.5em;
	margin: 50px 0;
	text-align: center;
}
.user-statcount span {
	display: block;
}
.user-statnumber {
	display: block;
	font-size: 1.6rem;
}

/* 우측 상단 메뉴 */
.profile-actions {
	position: absolute;
	top: 2em;
	right: 2em;
}

.profile-actions li {
	display: inline-block;
	margin: 0 1px;
}
.profile-actions li:hover {
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.9);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.9);
}
.profile-actions a {
	display: inline-block;
	background: #5bc0de;
	border: 1px solid #46b8da;
	color: #fff !important;
	font-size: 1rem;
	line-height: 1;
	padding: 8px;
	text-align: center;
	white-space: nowrap;
	position: relative;
	text-decoration: none !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.profile-actions a:hover {
	background-color: #39b3d7;
	border-color: #269abc;
}
.profile-actions a:active {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

/* User-Relationship */
.user-relationship-container {
	padding: 0px 0px 25px 0px;
}

.user-relationship-container a {
	text-decoration: none;
	display: block;
	float: left;
	margin: 5px 10px 0px 0px;
}

.user-relationship-container img {
	padding: 3px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}

/* User Gift / User Awards */
.user-gift-container {
	padding: 0px 0px 25px 0px;
}

.user-gift-container a {
	text-decoration: none;
	display: block;
	float: left;
	margin: 5px 10px 0px 0px;
}

.user-gift-container img {
	padding: 3px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}

/* Fanboxes */
.user-fanbox-container {
	padding: 0px 0px 25px 0px;
}

/* User Activity */
.activity-item {
	border-bottom: 1px solid #e4e4e4;
	padding: 7px 0px;
	overflow: hidden;
}

.activity-item-bottom {
	padding: 7px 0px 0px 0px;
}

.activity-item img, .activity-item-bottom img {
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
}

.activity-item a, .activity-item-bottom a {
	text-decoration: none;
}

.item {
	color: #666;
	margin: 5px 25px;
}

.item a {
	font-weight: bold;
}

#recent-all {
	padding: 10px 0px;
}

/* Message Board */
#user-page-board {
}

.user-page-message-form {
	margin-bottom: 15px;
	font-weight: bold;
}
.user-page-message-box {
	margin-top: 5px;
}
.user-page-message-box textarea {
	float: left;
	width: 560px;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}
.user-page-message-box textarea:focus {
	outline: 0;
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
}
.user-page-message-box input {
	float: left;
	width: 57px;
	height: 80px;
	margin: 0 0 0 3px !important;
}

.user-board-message {
	background: #ebf4f8;
	border: 1px solid #d0ecf8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0px 0px 8px 0px;
	clear: both;
	overflow: hidden;
}

.user-board-message-from {
	float: left;
	margin: .3em 0 .2em 10px;
}

.user-board-message-from a {
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.user-board-message-time {
	font-size: 12px;
	color: #797979;
	float: right;
	margin: .4em 10px 0 0;
}

.user-board-message-content {
	clear: both;
	background: #fff;
	border: 1px solid #d0ecf8;
	margin: 0 10px;	
	padding: 5px;
}

.user-board-message-image {
	float: left;
	padding: 0px 10px 0px 0px;
}
.user-board-message-image a {
	display: block; /* 툴팁 (.tooltip) 포지셔닝을 위한 라인 */
}

.user-board-message-image img {
	border: 1px solid #dcdcdc;
}

.user-board-message-body {
	margin: 0;
	width: 85%;
	float: left;
}

.user-board-message-body p {
	text-align: left !important;
	margin: 0 !important;
	overflow: hidden;
}

.user-board-message-links {
	text-align: right;
	margin: 4px 0px;
}

.user-board-message-links a {
	font-size: 12px;
	text-decoration: none;
	margin: 0px 10px 0px 0px;
}

.user-board-red a {
	color: #ff0000;
}

/* Profile Data */
.profile-info-container {
	list-style: none !important;
	padding: 0 !important;
	margin: 0 1em 2.4em !important;
}
/*
.profile-info-container b {
	color: #555;
	margin: 0px 10px 0px 0px;
}
*/
.profile-info-container > div {
	color: #666;
	line-height: 24px;
	border-bottom: 1px dotted #ccc;
}
.profile-info-container p {
	text-indent: 0 !important;
}

/* Casual Games 
.casual-game-container {
	padding: 0px 0px 18px 0px;
}

.casual-game-container p {
	margin: 0px 0px 0px 0px !important;
	padding: 7px 0px !important;
	border-top: 1px solid #dcdcdc;
}

.casual-game-container .item-top {
	border: none;
}

.casual-game-container a {
	text-decoration: none;
	font-weight: bold;
}

.casual-game-container .item-type {
	font-size: 9px;
	margin: 0px 0px 0px 6px;
}

.casual-game-container img {
	border: 1px solid #dcdcdc;
	padding: 3px;
	background-color: #fff;
	vertical-align: middle;
	margin: 0px 3px 0px 0px;
}*/

/* User Articles */
.user-articles-container {
	padding: 0px 0px 23px 0px;
}

.article-item {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 2px 0px;
	border-top: 1px solid #dcdcdc;
}

.user-articles-container a {
	text-decoration: none;
	font-weight: bold;
}

.article-item-top {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 2px 0px;
	border: none;
}

.number-of-votes {
	margin: 0px 10px 3px 0px;
	text-align: center;
	float: left;
	width: 25px;
}

.vote-number {
	background-color: #89C46F;
	color: #FFFFFF;
	font-size: 12px !important;
	margin: 0px 0px 2px 0px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
}

.vote-text {
	margin: -1px 0px 0px 0px;
	font-size: 9px;
	color: #777;
	line-height: 9px;
}

/* Pictures */
.picture-container-spacer {
	height: 25px;
	width: 100%;
}

.picture-container .mini-image {
	float: left;
	margin: 5px 10px 0px 0px;
}

.picture-container img {
	background-color: #fff;
	padding: 3px;
	border: 1px solid #dcdcdc;
}

.picture-container a {
	text-decoration: none;
}

.upload-container {
	clear: left;
	height: 90px;
	margin-left: -5px;
}

.upload-frame-errors {
	margin: 10px 0px 5px 0px;
	color: red;
	font-size: 14px;
	font-weight: bold;
}

.no-pictures-container {
	color: #777777;
	margin: 10px 0px 0px;
	padding: 20px;
	text-align: center;
	background-color: #EFF3F0;
}

.upload-frame-errors {
	display: none;
}

.imageUpload-frame {
	height: 90px;
	width: 425px;
}

/* Sports Networks */
.network-container {
	padding: 0px 0px 22px 0px;
}

.network {
	margin: 0px 0px 3px 0px;
}

.network img {
	margin: 0px 5px 0px 0px;
	vertical-align: middle;
}

.network a {
	text-decoration: none;
}

.status-message-add a {
	color: #999;
	font-size: 10px;
}

.status-update-box {
	margin: 10px 0px 10px 0px;
}

#status-text input {
	font-size: 10px;
	width: 200px;
}

/* Status */
.status-container {
	padding: 0px 0px 20px 0px;
}

.status-message img {
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
}

.user-status-date {
	margin: 0px 6px 0px 0px;
	color: #999;
	font-size: 9px;
}

.user-status-profile-vote {
	color: #666;
}

.user-status-profile-vote a {
	text-decoration: none;
	font-size: 9px;
}

/* Avatar upload page (Special:UploadAvatar) */
#wpUploadSource {
	width: 100px;
}

table.avatar-success-page {
	border-collapse: collapse;
	margin-top: 20px;
	padding: 0;
}

table.avatar-success-page td.title-cell {
	color: #797979;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	padding-bottom: 20px;
}

table.avatar-success-page td.image-cell {
	padding-bottom: 20px;
}

table.avatar-success-page td.image-cell img {
	border: 0;
}

/* Update Profile */
.profile-info {
	background-color: #fff;
	padding: 25px 0px;
	width: 100%;
}

.profile-update {
	padding: 0px;
}
.profile-update-column {
	width: 30%;
	float: left;
	margin-right: 2%;
}
.profile-update textarea {
	min-height: 6.5em;
}

.profile-tab-bar {
	margin-top: 20px;
}

.profile-tab, .profile-tab-on {
	float: left;
	margin-right: 3px;
}

.profile-tab-on a, .profile-tab a {
	display: inline-block;
	min-width: 72px;
	text-align: center;
	background: #e8e8e8;
	color: #888 !important;
	padding: 5px 10px;
	font-weight: normal;
	text-decoration: none;
}
.profile-tab:first-child a {
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
}
.profile-tab-bar div:nth-child(3) a {
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}

.profile-tab a:hover {
	background: #464e54;
	color: #fff !important;
}

.profile-update-button {
	background-color: #78BA5D;
	border: 1px solid #6B6B6B;
	color: #ffffff;
	font-size: 13px;
	padding: 3px;
}

.profile-update-title {
	font-size: 16px;
	color: #333;
	margin: 0px 0px 5px 0px;
	font-weight: bold;
}

.profile-update:not(:first-child) .profile-update-title {
	margin: 15px 0px 5px 0px !important;
}

.profile-update-title img {
	vertical-align: middle;
	margin: -3px 0px 0px 5px;
}

.profile-update-unit-left {
	color: #797979;
	font-weight: bold;
	font-size: 12px;
	float: left;
	width: 150px;
	margin: 0;
}

.profile-update-unit {
	margin: 0;
}
.profile-update textarea#whoami {
	width: 100%;
	height: 200px;
}

.profile-update-unit-small {
	display: none;
	float: left;
	width: 450px;
	font-size: 10px;
	color: #797979;
}

.profile-update-row {
	color: #797979;
	font-weight: bold;
	font-size: 12px;
}

.profile-update-links {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}

.profile-update-links a {
	text-decoration: none;
}

.profile-status {
	background-color: #FFFB9B;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
}

.profile-on {
	background-color: #FFFB9B;
	border: 1px solid #FDC745;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
}

#profile-toggle-button {
	position: absolute;
	top: 5px;
	right: 0px;
	background-color: orange;
	padding: 2px 10px;
}

#profile-toggle-button a {
	color: #fff;
	font-weight: bold;
}

/* The text "Message type" on the left side of the message type selector on profile page */
.profile-board-message-type {
	color: #797979;
}

/* Responsive stuff for mobile devices */
@media screen and (max-width: 750px) {
	/* Special:UpdateProfile & Special:EditProfile */
	.mw-special-EditProfile textarea,
	.mw-special-UpdateProfile textarea {
		min-width: 60%;
		max-width: 100%;
	}
	div.profile-tab {
		/**
		 * I don't like how the tabs' texts are off-center, but this
		 * is still better than nothing
		 */
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 750px) and (orientation: portrait) {
	.mw-special-EditProfile textarea,
	.mw-special-UpdateProfile textarea {
		width: 30% !important;
	}
}